html, body {
    margin: 0px;
    width: 100%;
    max-width: 100%;
}

#container-promptArea {
    margin: 3px 15px;
}

.answer {
    color: lightgray;
    margin-bottom: 20px;
}

.prompt p {
    margin-left: 8px;
}

body {
    background-color: #203088;
    color: white;
    font-family: 'Verdana', sans-serif;
}

#This-is-Nilod {
    box-shadow: 0px 0px 5px 5px black;
    float: right;
    margin-right: 15px;
}

i {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
}

.title {
    font-size: 200%;
    margin: 3px;
    margin-left: 10px;
    text-shadow: -2px 4px 5px #030;
}

.about-sizeFlow {
    font-size: 125%;
}

#header {
    padding: 15px;
    padding-top: 5px;
    background-color: #900028;
}

#container-about {
    padding: 20px 50px;
}

#container-nilodPrompt {
    box-sizing: inherit;
    height: 75vh;
    flex: 3;
    display: flex;
    flex-direction: column;
}

#container-promptsBar {
    padding: 8px 15px;
    box-sizing: content-box;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#container-promptArea {
    box-sizing: inherit;
    width: 90%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    max-height: 60vh;
}

#container-promptInner {
    box-sizing: inherit;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    padding: 0px 3px;
    display: flex;
    flex-direction: column;
}

.prompt {
    background-image: linear-gradient(to bottom, #181818, #111);
    border: 1px ridge #6040A0;
    margin: 15px;
    font-family: 'Courier New', 'Courier', monospace;
    font-size: 12px;
}

.prompt i {
    font-family: 'Courier New', 'Courier', monospace;
}

#input-prompt {
    flex: 3;
    box-sizing: content-box;
}

#input-random {
    flex: 1;
    margin-left: 10px;
    box-sizing: content-box;
}

#container-rateContrib {
    width: 200px;
    padding: 10px;
    overflow-y: auto;
    max-height: min-content;
    max-height: 60vh;
}

#container-inputs {
    width: 100%;
    padding: 5px 50px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}